 /*Mobile first*/
*{
    padding: 0;
    margin: 0;

}

h2 {
    color: gold;
    font-family: 'koulen', cursive;
}

body {
    background-color: black;
    width: 100%;
    list-style: none;
    text-align: center;
    color: black;
    font-family: 'koulen', cursive;
    position: relative;
    padding-bottom: 2em;
    max-width: 100%;

    
    }

    header {
        background-color: yellow;
        grid-area: header header;
        padding-right: 900px;
        width: 100%;
    }
    
    .titulo {
        text-align: center;
        color: black;
        font-family: 'koulen', cursive;
        width: 100%;
        text-align: center;
    
    }
    
    .menu{
        width: 100%;
        list-style: none;
        text-align: center;
        color: black;
        font-family: 'koulen', cursive;
        display: flexbox;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        width: 100%;
    
    }
    
    
    
    nav li{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
    }
    
    nav li:hover{
        background-color: grey;
        transform: scale(1.1,1.1);
        transition: 1s;
    }
    
    
    nav a {
        text-decoration: none;
        color: black;
        padding: 5px;
        align-items: center;
    
    }

.contenido {
    display: flexbox;
    grid-area: contenido;
    color: black;
    text-align: center;
    font-family: 'koulen', cursive;
    padding: 25px;
    margin: 20px;
    min-width: 50px;
    margin-bottom: 0px;
    background-color: gold;
    margin: 20px;
    align-items: center;
    overflow: hidden;

}

.contenido:hover {
    transform: scale(1.1,1.1);
    transition: 1s;

}

.contenido2 {
    display: flexbox;
    grid-area: contenido2;
    color: black;
    text-align: center;
    font-family: 'koulen', cursive;
    padding: 25px;
    margin: 20px;
    min-width: 50px;
    margin-bottom: 0px;
    background-color: gold;
    margin: 20px;
    align-items: center;
    overflow: hidden;

}

.contenido2:hover{
    transform: scale(1.1,1.1);
    transition: 1s;

    
}
.acciones {
    display: flexbox;
    grid-area: acciones;
    color: gold;
    text-align: center;
    background-color: black;
    font-family: 'koulen', cursive;
    padding: 25px;
    padding-top: 50px;
    min-width: 50px;
    margin-right: 0px;
    background-color: gray;
    margin: 20px;
    overflow: hidden;


}

.acciones:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
}

.acciones2 {
    display: flexbox;
    grid-area: acciones2;
    color: gold;
    text-align: center;
    background-color: black;
    font-family: 'koulen', cursive;
    padding: 25px;
    padding-top: 50px;
    min-width: 50px;
    margin-right: 0px;
    background-color: gray;
    margin: 20px;
    overflow: hidden;


}

.acciones2:hover{
    transform: scale(1.1,1.1);
    transition: 1s;

}

footer {
    display: block;
    grid-area: footer;
    padding: 1em;
    color: gold;
    font-family: 'koulen', cursive;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding-left: 5px;

}

.img {
    position: absolute;
    bottom: 150px;
    left: 600px;
}

.carousel-inner img{
    max-height: : 700px;


}


/*Desktop*/
@media screen and (min-width: 720px) {

    main {
        display: grid;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        width: 100%;
        display: grid;
        justify-items: stretch;
        align-items: stretch;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%; 
        grid-template-areas:"contenido acciones"
                            "contenido2 acciones2";
     }

    .contenido {
        display: grid;
        grid-area: contenido;
        color: black;
        text-align: left;
        font-family: 'koulen', cursive;
        padding: 25px;
        margin: 20px;
        min-width: 50px;
        margin-bottom: 0px;
        background-color: gold;
        margin: 20px;
        align-items: center;
        overflow: hidden;
      
}

    .contenido2 {
        display: grid;
        grid-area: contenido2;
        color: black;
        text-align: left;
        font-family: 'koulen', cursive;
        padding: 25px;
        margin: 20px;
        min-width: 50px;
        margin-bottom: 0px;
        background-color: gold;
        margin: 20px;
        align-items: center;
        overflow: hidden;
 
}