/*Variables*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Variables*/
.titulo {
  background-color: gold;
  width: 100%;
  font-family: "koulen", cursive;
  text-align: center;
}

.menu {
  background-color: gold;
  width: 100%;
}
.menu li {
  display: inline-flex;
  justify-content: space-around;
  list-style-type: none;
  flex-direction: row;
  font-family: "koulen", cursive;
}
.menu:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}

/*Variables*/
/*paleta de colores*/
body {
  background-color: black;
  width: 100%;
  list-style: none;
  text-align: center;
  color: gold;
  font-family: "koulen", cursive;
  position: relative;
  padding-bottom: 2em;
  max-width: 100%;
}

.contenido, .contenido2 {
  background-color: gold;
  padding: 25px;
  margin: 20px;
  overflow: hidden;
}
.contenido:hover, .contenido2:hover {
  transform: scale(1.1, 1.1);
  transform: 1S;
}

.contenido2:hover {
  transform: scale(1.1, 1.1);
  transform: 1S;
}

.acciones, .acciones2 {
  background-color: gold;
  padding: 25px;
  margin: 20px;
  overflow: hidden;
}
.acciones:hover, .acciones2:hover {
  transform: scale(1.1, 1.1);
  transform: 1S;
}

.acciones2:hover {
  transform: scale(1.1, 1.1);
  transform: 1S;
}

footer {
  display: block;
  grid-area: footer;
  padding: 1em;
  color: gold;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  padding-left: 5px;
}

/*paleta de colores*/
.contenido, .contenido2 {
  color: black;
  background-color: gold;
  padding: 5px;
  text-align: center;
  font-size: 1.25rem;
}

.contenido2 {
  color: black;
  background-color: gold;
  padding: 5px;
  text-align: center;
  font-size: 1.25rem;
}

.acciones, .acciones2 {
  color: black;
  background-color: grey;
  padding: 5px;
  text-align: center;
  font-size: 1.25rem;
}

.acciones2 {
  color: black;
  background-color: grey;
  padding: 5px;
  text-align: center;
  font-size: 1.25rem;
}

/*paleta de colores*/
/*mediaqueries*/
/*Mobile*/
@media screen and (max-width: 350px) {
  main {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "contenido" "contenido2" "acciones" "acciones2";
  }
}
/*Desktop*/
@media screen and (min-width: 720px) {
  main {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "contenido acciones" "contenido2 acciones2";
  }

  .contenido, .contenido2 {
    display: grid;
    grid-area: contenido;
    color: black;
    text-align: left;
    font-family: "koulen", cursive;
    padding: 25px;
    margin: 20px;
    min-width: 50px;
    margin-bottom: 0px;
    background-color: gold;
    margin: 20px;
    align-items: center;
    overflow: hidden;
  }

  .contenido2 {
    display: grid;
    grid-area: contenido2;
    color: black;
    text-align: left;
    font-family: "koulen", cursive;
    padding: 25px;
    margin: 20px;
    min-width: 50px;
    margin-bottom: 0px;
    background-color: gold;
    margin: 20px;
    align-items: center;
    overflow: hidden;
  }
}
/*Tablet*/
@media screen and (min-width: 480px) {
  main {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "contenido" "contenido2" "acciones" "acciones2";
  }
}/*# sourceMappingURL=main.css.map */