@import '../parciles/variables';


.titulo {

    background-color: $color-letra;
    width: 100%;
    font-family: 'koulen', cursive;
    text-align: center;
}

.menu{
    background-color: $color-letra;
    width: 100%;
    li {
    display: inline-flex;
    justify-content: space-around;
    list-style-type: none;
    flex-direction: row;
    font-family: 'koulen', cursive;
    }
    
    &:hover {
    transform: scale(1.1,1.1);
    transition: 1s; 
    }   
}